# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build/c*
build/d*
build/e*
build/g*
build/n*
build/r*
build/t*
.gradle

# other
eclipse
run

# Files from Forge MDK
forge*changelog.txt
